<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
</head>
<body>
    <%- include('./partials/googleTagManager') -%>
    <%- include('partials/navbar') %>
    <section class="faqs">
        <div class="nav"></div>
        <div class="title-container">
            <p>FREQUENTLY ASK QUESTIONS</p>
            <h4>Your question is here?</h4>
        </div>
        <% for (let i = 0; i < 10; i ++) { %>
            <div class="accordion-item">
                <div class="accordion-item-title"><p>TITULO DE PREGUNTA</p></div>
                <div class="accordion-item-content">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam cum assumenda quasi! Culpa, ab nam voluptate voluptatibus debitis ipsam cum sunt praesentium sequi necessitatibus tempore molestiae, blanditiis non repellendus excepturi tempora odit dignissimos molestias labore explicabo odio, ad consequuntur. Recusandae incidunt debitis repellendus voluptatum nihil voluptatibus distinctio, dolores natus eius, iusto laudantium, error at. Maxime delectus saepe distinctio expedita totam.</p>
                </div>
            </div>
        <% } %>
        <div class="contact-title">
            <h3>Do you have a question?</h3>
            <h4>Contact with us</h4>
        </div>
    </section>
    <%- include('home/contact') %>

    <%- include('partials/fab') %>
    <%- include('partials/footer') %>
    <script src="/js/navbar.js"></script>
    <script src="/js/navLinks.js"></script>
    <!-- Animate on scroll -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>