<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    
    <%- include('./partials/googleTagManager') -%>
    <%- include('./partials/navbar') -%>
    <%- include('./partials/fab') -%>    

    <%- include('./home/principal') -%>
    <%- include('./home/dentalpro') -%>
    <%- include('./home/aboutus') -%>
    <%- include('./home/treatments') -%>
    <%- include('./home/staff') -%>
    <%- include('./home/testimonials') -%>
    <%- include('./home/faq') -%>
    <%- include('./home/contact') -%>

    <%- include('./partials/footer') -%>   

    <!-- Para los carrusels -->
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script>
      var elms = document.getElementsByClassName( 'splide' );
      for ( var i = 0, len = elms.length; i < len; i++ ) {
        new Splide( elms[ i ] ).mount();
      }
      </script>
    <script src="/js/navbar.js"></script>
    <script src="/js/navLinks.js"></script>
    <!-- Animate on scroll -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
