<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
</head>
<body>
    <%- include('./partials/googleTagManager') -%>
    <%- include('partials/navbar') %>
    <section class="treatments-view">
        <div class="nav"></div>
        <div class="title-container">
            <p class="title"><%=treatment.title%></p>
            <p class="title-desc"><%=treatment.subtitle%></p>
        </div>
        <div class="content">
            <img src="/img/treatments/treatment-1-img.png" alt="">
            <p class="title"><%=treatment.info_title%></p>
            

            <% if(typeof treatment.info != 'undefined'){ %>
                <p class="body"><%=treatment.info%></p>
            <% } %>

            <% if(treatment.video){ %>
                <iframe width="420" height="315" src="<%=treatment.video%>"></iframe>
            <% } %>

            
            <% if(typeof treatment.description_title != 'undefined'){ %>
                <p class="description-title title"><%=treatment.description_title%></p>
            <% } %>

            <% if(typeof treatment.description != 'undefined'){ %>
                <p class="description-body body"><%=treatment.description%></p>
            <% } %>


            <% if(typeof treatment.footer_title != 'undefined'){ %>
                <p class="footer-title title"><%=treatment.footer_title%></p>
            <% } %>

            <% if(typeof treatment.footer != 'undefined'){ %>
                <p class="footer-body body"><%=treatment.footer%></p>
            <% } %>

            <% if(typeof treatment.bullets_title != 'undefined'){ %>
                <p class="bullets-title title"><%=treatment.bullets_title%></p>
            <% } %>

            <% if(typeof bulletsTreatment != 'undefined'){ %>
                <ul class="bullets">
                        <% for (let i = 0; i < bulletsTreatment.length; i++ ) { %>
                        <li class="bullet <%=bulletsTreatment[i].icon%>">
                            <span class="titulo"><%=bulletsTreatment[i].title%>:</span>
                            <div class="desc">
                                <% if (bulletsTreatment[i].icon == 'number') { %>
                                    <div class="iconWithNumber">
                                        <span class="idNumber"><%=i%></span>
                                        <img src="/img/treatments/treatment-<%=treatment.id%>-bullet.png" class="imgIcon" alt="">
                                    </div>
                                <% } else { %>
                                    <img src="/img/treatments/treatment-<%=treatment.id%>-bullet-<%=i+1%>.png" alt="">
                                <% } %>
                                <span><%=bulletsTreatment[i].desc%></span>
                            </div>
                        </li>
                        <% } %>
                    </ul>
            <% } %>

            
            
            <hr>

            <div class="splide-container" style="height: 40vh;">
                <div class="splide" data-splide='{"type" : "fade" , "drag": false , "rewind":true, "autoplay": false, "pagination": false}'>
                    <div class="splide__track" >
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <div class="after-before">
                                    <img src="/img/treatments/treatment-<%=treatment.id%>-before.png" alt="before">
                                    <p>BEFORE</p>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="after-before">
                                    <img src="/img/treatments/treatment-<%=treatment.id%>-after.png" alt="after">
                                    <p>AFTER</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            
    </section>
    <%- include('partials/fab') %>
    <%- include('partials/footer') %>

    <!-- Para los carrusels -->
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script>
      var elms = document.getElementsByClassName( 'splide' );
      for ( var i = 0, len = elms.length; i < len; i++ ) {
        new Splide( elms[ i ] ).mount();
      }
    </script>
    <script src="/js/navbar.js"></script>
    <script src="/js/navLinks.js"></script>
</body>
</html>