<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('../partials/head')%>
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    
    <div class="section-admin">
        <%-include('sidebar')%>
        <div class="content">
            <div class="control-section">
                <button class="btn btn-primary"
                  data-bs-toggle="modal" 
                  data-bs-target="#adminTurnCreateModal"
                >Crear tratamiento</button>
            </div>
           
            <table class="table" style="width: 90%;">
                <thead>
                  <tr>
                    <th scope="col" style="width: 25%;">Name</th>
                    <th scope="col" style="width: 25%;">Matricule</th>
                    <th scope="col" style="width: 25%;">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let i = 0; i < staffs.length; i++){ %>
                    <tr>
                      <td><%=staffs[i].name%></td>
                      <td><%=staffs[i].matricula%></td>
                      <td>
                        <button class="btn btn-warning"><i class="fal fa-pencil"></i></button>
                        <button class="btn btn-danger turnField"><i class="fal fa-trash-alt"></i></button>
                      </td>
                    </tr>
                  <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>