<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('../partials/head')%>
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <!-- TURN CREATE MODAL -->
    <div class="modal fade" id="adminTurnCreateModal" tabindex="-1" aria-labelledby="adminTurnCreateModal" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
              <h5>Create a turn</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="row g-3" method="POST" action="/admin/turn">
              <label class="col-form-label" for="treatment">Treatment</label>
              <select class="form-select" id="treatment" name="treatment">
                <% for (let i = 0; i < treatments.length; i++){ %>
                  <option value="<%=treatments[i].id%>"><%=treatments[i].title_eng%></option>
                <% } %>
              </select>

              <label class="col-form-label" for="user">User</label>
              <select class="form-select" id="user" name="user">
                <option selected value="null">Not asigned</option>
                <% for (let j = 1; j < users.length; j++){ %>
                  <option value="<%=users[j].id%>"><%=users[j].name%></option>
                <% } %>
              </select>

              <label class="col-form-label" for="date">Date and time</label>
              <input class="form-control" type="datetime-local" name="datetime" id="date">

              <div class="button-container d-flex justify-content-center mt-6">
                <button type="button" class="btn btn-secondary mx-3" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success mx-3">Confirm</button>
                
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>

    <!-- DELETE TURN MODAL -->
    <div class="modal fade" id="deleteTurnModal" tabindex="-1" aria-labelledby="deleteTurnModal" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
              <h5>ATTENCION</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3>Are you sure to delete <span id="turnTitle"></span> date at <span id="turnTime"></span>?</h3>
            <h5>This action cannot be undoned</h5>
          </div>
          <div class="moda-footer">
            <button type="button" class="btn btn-secondary mx-3" data-bs-dismiss="modal">Cancel</button>
            <form action="/admin/turn?_method=DELETE" method="POST">
              <input type="text" id="deleteTurn" name="deleteTurnId" class="hidden-checkbox-input">
              <button type="submit" class="btn btn-success mx-3">Confirm</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- TURN EDIT MODAL -->
    <div class="modal fade" id="adminTurnEditModal" tabindex="-1" aria-labelledby="adminTurnEditModal" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
              <h5>Edit a turn <span id="turnEditTitle"></span></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="row g-3" method="POST" action="/admin/turn?_method=PUT">
              <label class="col-form-label" for="treatmentEdit">Treatment</label>
              <select class="form-select" id="treatmentEdit" name="treatment">
                <% for (let i = 0; i < treatments.length; i++){ %>
                  <option id="" value="<%=treatments[i].id%>"><%=treatments[i].title_eng%></option>
                <% } %>
              </select>

              <label class="col-form-label" for="userEdit">User</label>
              <select class="form-select" id="userEdit" name="user">
                <option selected value="null">Not asigned</option>
                <% for (let j = 1; j < users.length; j++){ %>
                  <option value="<%=users[j].id%>"><%=users[j].name%></option>
                <% } %>
              </select>

              <label class="col-form-label" for="dateEdit">Date and time</label>
              <input class="form-control" type="datetime-local" name="datetime" id="dateEdit">

              <input type="text" id="hiddenTurnID" class="hidden-checkbox-input" name="idTurn">

              <div class="button-container d-flex justify-content-center mt-6">
                <button type="button" class="btn btn-secondary mx-3" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success mx-3">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section-admin">
        <%-include('sidebar')%>
        <div class="content">
            <div class="control-section">
              <label for="categoryFilter">Filtrar por Categoria</label>
              <select name="" id="categoryFilter">
                <option disabled selected>Selecciona una categoria</option>
                <% for (let m=0; m < treatments.length; m++) {%>
                  <option value="<%=treatments[m].id%>">"<%=treatments[m].title_eng%>"</option>
                  <% } %>
                </select>
                <button class="btn btn-primary"
                  data-bs-toggle="modal" 
                  data-bs-target="#adminTurnCreateModal"
                >Crear un turno</button>
            </div>
           
            <table class="table" style="width: 90%;">
                <thead>
                  <tr>
                    <th scope="col" style="width: 25%;">Treatment</th>
                    <th scope="col" style="width: 25%;">User</th>
                    <th scope="col" style="width: 25%;">Date</th>
                    <th scope="col" style="width: 25%;">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let i = 0; i < turns.length; i++){ %>
                    <tr class="campoAFiltrar" data-bs-filterID="<%= turns[i].treatment_id %>">
                      <td><%=turns[i].treatment.title_eng%></td>
                      <% if (turns[i].user!=null) { %>
                        <td><%=turns[i].user.name%></td>
                      <% } else { %>
                        <td>Not assigned</td>
                      <% } %>
                      <td><%=turns[i].dataValues.dateParsed%></td>
                      <td>
                        <button class="btn btn-warning"
                          data-bs-toggle="modal" 
                          data-bs-target="#adminTurnEditModal"
                          data-bs-turnTreatmentId="<%=turns[i].treatment_id%>"
                          data-bs-turnDate="<%=turns[i].date%>"
                          data-bs-userId="<%=turns[i].user_id%>"
                          data-bs-idTurn="<%=turns[i].id%>"
                        ><i class="fal fa-pencil"></i></button>
                        <button class="btn btn-danger turnField"
                          data-bs-toggle="modal" 
                          data-bs-target="#deleteTurnModal"
                          data-bs-turnTitle="<%=turns[i].treatment.title_esp%>"
                          data-bs-turnTime="<%=turns[i].date%>"
                          data-bs-idTurn="<%=turns[i].id%>"
                        ><i class="fal fa-trash-alt"></i></button>
                      </td>
                    </tr>
                  <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <script>
    

    let deleteModal = document.getElementById('deleteTurnModal')
    deleteModal.addEventListener('show.bs.modal', function (event) {
      let button = event.relatedTarget
      let deleteTurn = document.getElementById('deleteTurn');
      let modalTurnTitle = document.getElementById('turnTitle'); 
      let modalTurnTime = document.getElementById('turnTime'); 
      
      modalTurnTitle.innerHTML = button.getAttribute('data-bs-turnTitle');
      modalTurnTime.innerHTML = button.getAttribute('data-bs-turnTime');
      deleteTurn.setAttribute('value',button.getAttribute('data-bs-idTurn'));
      
    })


    let editModal = document.getElementById('adminTurnEditModal')
    editModal.addEventListener('show.bs.modal', function (event) {
      let button = event.relatedTarget
      let treatmentEdit = document.getElementById('treatmentEdit');
      let userEdit = document.getElementById('userEdit'); 
      let dateEdit = document.getElementById('dateEdit'); 
      let dateConvert = new Date(button.getAttribute('data-bs-turnDate'));
      let hiddenTurnID = document.querySelector('#hiddenTurnID');

      treatmentEdit.setAttribute('value',button.getAttribute('data-bs-turnTreatmentId'));
      userEdit.setAttribute('value',button.getAttribute('data-bs-userId'));
      dateEdit.setAttribute('value',dateConvert) ;
      hiddenTurnID.value = button.getAttribute('data-bs-idTurn')
    })

    
    </script>
    <script>
let categoryFilter = document.querySelector('#categoryFilter');
let fields = document.querySelectorAll('.campoAFiltrar');


      categoryFilter.addEventListener('change', (e)=>{

        let filterValue = e.target.value;

        fields.forEach(field =>{

          if (filterValue != field.getAttribute('data-bs-filterID')){
            field.style.display = "none";
          }else{
            field.style.display = "table-row";
          }

        })
      })

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>