<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('../partials/head')%>
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

  <!-- USER CREATE MODAL -->
  <div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5>Create user</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form  class="row g-3" action="/signup" method="POST">
            
            <label for="firstName" class="col-form-label">Nombre</label>
            <input class="form-control" type="text" name="firstName" id="firstName">
            
            <label for="lastName">Apellido</label>
            <input class="form-control" type="text" name="lastName" id="lastName">
            
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" id="email">
            
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password">

        </div>
        <div class="modal-footer d-flex justify-content-center pt-4">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Crear</button>
          </form>
        </div>
        </div>
    </div>
    </div>

    <!-- USER DETAIL MODAL -->
  <div class="modal fade" id="detailUserModal" tabindex="-1" aria-labelledby="detailUserModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5>User details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form  autocomplete="off" action="/signup" method="POST">
            <div class="user-modal-container">
                <div class="field">
                    <label>Nombre</label>
                    <label id="userDetailName"></label>
                </div>
                <div class="field">
                  <label>Email</label>
                  <label id="userDetailEmail"></label>
                </div>
                <div class="field">
                  <label>Turns</label>
                  <label id="userDetailTurns"></label>
                </div>
            </div>
          
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Crear</button>
          </form>
        </div>
        </div>
    </div>
    </div>
    
    <div class="section-admin">
        <%-include('sidebar')%>
        <div class="content">
            <div class="control-section">
                <button class="btn btn-primary" 
                data-bs-toggle="modal" 
                data-bs-target="#createUserModal"
                >Crear un nuevo usuario</button>
            </div>

            
           
            <table class="table" style="width: 90%;">
                <thead>
                  <tr>
                    <th scope="col" style="width: 25%;">Name</th>
                    <th scope="col" style="width: 25%;">Email</th>
                    <th scope="col" style="width: 25%;">Detail</th>
                    <th scope="col" style="width: 25%;">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let i = 1; i < users.length; i++){ %>
                    <tr class="campoAFiltrar">
                      <td><%=users[i].name%></td>
                      <td><%=users[i].email%></td>
                      <td><button class="btn btn-success"
                        data-bs-toggle="modal" 
                        data-bs-target="#detailUserModal"
                        data-bs-userName="<%=JSON.stringify(users[i].name)%>"
                        data-bs-userEmail="<%=JSON.stringify(users[i].email)%>"
                        data-bs-userTurnsInfo="<%=JSON.stringify(users[i].turns)%>"
                        ><i class="fal fa-search"></i></button></td>
                      <td>
                        <button class="btn btn-warning"><i class="fal fa-pencil"></i></button>
                        <button class="btn btn-danger turnField"><i class="fal fa-trash-alt"></i></button>
                      </td>
                    </tr>
                  <% } %>
                </tbody>
            </table>
        </div>
    </div>


    <script>
      let createUserModal = document.getElementById('createUserModal')
      createUserModal.addEventListener('show.bs.modal', function (event) {
          // Button that triggered the modal
          let button = event.relatedTarget
          
          // Extract info from data-bs-* attributes
          let userName = button.getAttribute('data-bs-userName');
          let userTurns = button.getAttribute('data-bs-userTurns');

          // If necessary, you could initiate an AJAX request here
          // and then do the updating in a callback.
          // Update the modal's content.
          console.log(JSON.stringify(userName));
          console.log(JSON.stringify(userTurns));

          /* let treatmentTitle = document.querySelector('.modal-body .treatment-title');
          let treatmentTime = document.querySelector('.modal-body .treatment-time');
          let treatmentDate = document.querySelector('.modal-body .treatment-date');

          treatmentTitle.innerHTML = turnTitle;
          treatmentTime.innerHTML = turnTime;
          treatmentDate.innerHTML = turnDate;
          cancelHiddenInput.setAttribute('value', turnId); */
      })
  </script>

  <script>
  let detailUserModal = document.getElementById('detailUserModal')
  detailUserModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      let button = event.relatedTarget
      
      // Extract info from data-bs-* attributes
      let userName = button.getAttribute('data-bs-userName');
      let userEmail = button.getAttribute('data-bs-userEmail');
      let userTurns = JSON.parse(button.getAttribute('data-bs-userTurnsInfo'));

      for (let i=0; i<userTurns.length; i++){
        document.querySelector('.modal-body #userDetailTurns').innerHTML+= '<div style="display:flex; flex-direction: column;">'+JSON.stringify(userTurns[i])+'</div>'
      }     

      /* FIELDS DEL MODAL */
      document.querySelector('.modal-body #userDetailName').innerHTML = userName;
      document.querySelector('.modal-body #userDetailEmail').innerHTML = userEmail;
      /* document.querySelector('.modal-body #userDetailTurns').innerHTML = userTurns; */
      // If necessary, you could initiate an AJAX request here
      // and then do the updating in a callback.
      // Update the modal's content.
      
      

      /* let treatmentTitle = document.querySelector('.modal-body .treatment-title');
      let treatmentTime = document.querySelector('.modal-body .treatment-time');
      let treatmentDate = document.querySelector('.modal-body .treatment-date');

      treatmentTitle.innerHTML = turnTitle;
      treatmentTime.innerHTML = turnTime;
      treatmentDate.innerHTML = turnDate;
      cancelHiddenInput.setAttribute('value', turnId); */
  })
</script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>