<section class="section-staff" id="staffSection">

    <h2 data-aos="fade-up" ><%=staffDat.title%></h2>

    <div class="splide" data-splide='{
        "type" : "loop", 
        "perMove": 1, 
        "perPage": 3, 
        "breakpoints": {
            "768": {
                "perPage":2
            },
            "576": {
                "perPage":1
            }
        }}'>

        <div class="splide__arrows" >
            <button class="splide__arrow splide__arrow--prev arrows-staff">
              <i class="fas fa-chevron-left"></i>
            </button>
            <button class="splide__arrow splide__arrow--next arrows-staff">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>

        <div class="splide__track" >
          <ul class="splide__list">
            <% for (let i = 0; i < staffs.length; i++) { %>
                <li class="splide__slide">
                    <div class="splide-staff" data-aos="fade-up">
                        <img src="/img/home/staff-1.png" alt="" class="img-staff">
                        <h4><%=staffs[i].name%></h4>
                        <h5><%=staffs[i].matricula%></h5>
                    </div>
                </li>
            <% } %>
          </ul>
        </div>
      </div>


</section>